body {
    background-color: rgb(237, 237, 237);
    font-family: 'Inter', sans-serif;
}

.titulo-todo {
    display: flex;
    justify-content: center;
    color: #cb8888;
    opacity: 0.3;
    font-size: 100px;
    font-weight: 80;
    margin-bottom: 1px;
}

.caja {
    background: #fff;
    padding: 30px;
    margin: 30px auto;
    margin-top: 15px;
    width: 60%;
    display: block;
}

.ingreso-de-texto {
    width: 62%;
    border-color: none;
    border: none;
    outline: none;
    opacity: 0.6;
    font-size: 30px;
    font-weight: 200;
}

.contador {
    margin-left: -750px;
    opacity: 0.3;
}


.texto-ingresado li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    margin-left: 160px;
    margin-right: 20px;
    opacity: 0.6;
    font-size: 30px;
    font-weight: 200;
}

.texto-ingresado li span {
    opacity: 0.2;
    font-size: 0.6em;
    cursor: pointer;
}

.boton-eliminaTodos {
    margin-top: 20px;
    opacity: 0.5;
    border-radius: 10px;
}